@model SCOTUS.Models.CaseVoteDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CaseVoteDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CaseVoteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseVoteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourtDecision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourtDecision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeOneChiefJustice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeOneChiefJustice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeSix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeSix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeSeven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeSeven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeEight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeEight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeNine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeNine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourtId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourtId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
