@model SCOTUS.Models.CaseDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CaseDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenateControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenateControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUTC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CaseId}) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.CaseId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
