@model SCOTUS.Models.CourtMembersDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CourtMembersDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourtId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourtId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeOneChiefJustice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeOneChiefJustice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeSix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeSix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeSeven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeSeven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeEight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeEight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeNine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeNine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JusticeTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JusticeTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.CourtId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
